<template>
  <div>
    <div>
      <v-container class="mb-10">
        <div v-if="ChartShow.length > 0" class="d-flex justify-center">
          <div class="col mt-10">
            <line-chart :DataChart="ChartShow" />
          </div>
        </div>
      </v-container>
    </div>
    <div>
      <v-container>
        <v-col class="d-flex" cols="12" sm="8">
          <v-select
            :items="AllDate"
            label="--- เลือกวันที่ ---"
            solo
            v-model="SetStart"
          ></v-select>
          <div class="mt-4 ml-5 mr-5">To</div>
          <v-select
            :items="AllDate"
            label="--- เลือกวันที่ ---"
            solo
            v-model="SetEnd"
          ></v-select>
          <v-btn
            class="ml-5 mt-2"
            depressed
            color="success"
            @click="filterBetween(SetStart, SetEnd)"
          >
            Search
          </v-btn>
          <v-btn
            class="ml-5 mt-2"
            depressed
            color="error"
            @click="filterBetween('', '')"
          >
            Reset
          </v-btn>
        </v-col>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left" style="font-size: 24px">Date</th>
                <th class="text-left" style="font-size: 24px">Cases</th>
                <th class="text-left" style="font-size: 24px">Deaths</th>
                <th class="text-left" style="font-size: 24px">Recovered</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in AllData" :key="index">
                <td>{{ item.Date }}</td>
                <td>{{ item.Case }}</td>
                <td>{{ item.Deaths }}</td>
                <td>{{ item.Recovered }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-container>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import LineChart from "../components/LineChart";

export default {
  name: "Home",

  components: {
    LineChart,
  },

  data: () => ({
    SetStart: [],
    SetEnd: [],
    AllData: {},
    AllDate: [],
    ChartShow: [],
    select: {},
  }),

  methods: {
    filterBetween(DateStart, DateEnd) {
      const start = moment(DateStart);
      const end = moment(DateEnd);
      if (end.isSameOrAfter(start) == false) {
        return alert("กรุณาเลือกวันที่ให้ถูกต้อง");
      }
      (this.ChartShow = []),
        axios
          .get("https://disease.sh/v3/covid-19/historical/all?lastdays=30")
          .then((item) => {
            let datas = item.data;

            const ArrayDate = Object.keys(datas.cases).map(function (key) {
              return [key, datas.cases[key]];
            });
            const ArrayDeaths = Object.keys(datas.deaths).map(function (key) {
              return [key, datas.deaths[key]];
            });
            const ArrayRecovered = Object.keys(datas.recovered).map(function (
              key
            ) {
              return [key, datas.recovered[key]];
            });
            let data = ArrayDate.map((x) => {
              return {
                Date: x[0],
                Case: x[1],
                Deaths: ArrayDeaths.filter((y) => y[0] == x[0])[0][1],
                Recovered: ArrayRecovered.filter((u) => u[0] == x[0])[0][1],
              };
            });

            let newChartData = [];
            if ((DateStart, DateEnd !== null && DateStart, DateEnd !== "")) {
              const StartDate = moment(DateStart);
              const EndDate = moment(DateEnd);

              data = data.filter((x) => {
                const covid_date = moment(x.Date);
                // console.log(covid_date);
                return (
                  moment(covid_date).isBetween(StartDate, EndDate) ||
                  moment(StartDate).isSame(covid_date) ||
                  moment(EndDate).isSame(covid_date)
                );
              });
              newChartData = ArrayDate.filter((x) => {
                const covid_date = moment(x[0]);
                return (
                  moment(covid_date).isBetween(StartDate, EndDate) ||
                  moment(StartDate).isSame(covid_date) ||
                  moment(EndDate).isSame(covid_date)
                );
              });
            }

            if ((DateStart, DateEnd == null || DateStart, DateEnd == "")) {
              (this.SetStart = null), (this.SetEnd = null);
            }

            // let filterData = dates;
            // if (filterData !== null && filterData !== "") {
            //   const dateStart = moment(filterData);
            //   data = data.filter((x) => {
            //     const covid_date = moment(x.Date);
            //     // console.log(covid_date);
            //     return moment(dateStart).isSame(covid_date);
            //   });
            // }

            this.ChartShow.push(newChartData);
            // console.log(this.ChartShow);

            this.AllData = data;
          });
    },
  },
  created() {
    axios
      .get("https://disease.sh/v3/covid-19/historical/all?lastdays=30")
      .then((item) => {
        let datas = item.data;
        const ArrayDate = Object.keys(datas.cases).map(function (key) {
          return [key, datas.cases[key]];
        });
        const ArrayDeaths = Object.keys(datas.deaths).map(function (key) {
          return [key, datas.deaths[key]];
        });
        const ArrayRecovered = Object.keys(datas.recovered).map(function (key) {
          return [key, datas.recovered[key]];
        });
        let data = ArrayDate.map((x) => {
          return {
            Date: x[0],
            Case: x[1],
            Deaths: ArrayDeaths.filter((y) => y[0] == x[0])[0][1],
            Recovered: ArrayRecovered.filter((u) => u[0] == x[0])[0][1],
          };
        });
        this.AllData = data;

        const Dates = ArrayDate.map((value) => value[0]);
        this.AllDate = Dates;

        this.ChartShow.push(ArrayDate);
        // console.log(this.ChartShow);
        // console.log(this.ChartShow)
      });
  },
};
</script>
